{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ page.title }}
{% endblock %}

{% block content %}
<div class="container">
    <section class="section">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <time datetime="2022-04-22">Viernes | 22 Abril</time>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <article class="message is-dark">
                        <div class="message-body">
                            19:00hs | Apertura del evento
                        </div>
                    </article>
                    <article class="message is-dark">
                        <div class="message-body">
                            20:00hs | Presentación de objetivos y marco de la feria
                        </div>
                    </article>
                    <article class="message is-dark">
                        <div class="message-body">
                            20:30hs | Presentación de Charlas
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <time datetime="2022-04-23">Sábado | 23 Abril</time>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <article class="message is-dark">
                        <div class="message-body">
                            15:00hs | Apertura de la feria
                        </div>
                    </article>
                    <article class="message has-text">
                        <div btn_id="1" class="message-body">
                            15:00hs a 17:00hs | Charla: ANTIPATRIARCADO DE TODXS, Una experiencia lúdica para
                            repensarnos.
                        </div>
                        <div class="message-body text">
                            Una experiencia lúdica para repensarnos.
                            ¿Qué mecanismos patriarcales operan a la hora de vincularnos en nuestros espacios? ¿Qué
                            esfuerzos concretos hacemos por transformarnos y transformar nuestro entorno?
                            La cultura patriarcal en la que crecemos nos enseña formas concretas de relacionarnos y por
                            eso el anarquismo como práctica colectiva se propone desaprender lo que nos ha sido
                            impuesto. Sabemos que desenraizar nuestras actitudes machistas no es tarea sencilla.
                            En esta actividad proponemos un juego de mesa como catalizador. Para ponernos en juego desde
                            otros lugares, para mirarnos entre compas y enseñarnos entre nosotrxs formas más propias.
                        </div>
                    </article>
                    <article class="message is-dark">
                        <div class="message-body">
                            17:30hs | Carteo a compañerxs presxs
                        </div>
                    </article>
                    <article class="message has-text">
                        <div class="message-body">
                            17:30hs a 20:30hs | Taller: Producción Editorial
                        </div>
                        <div class="message-body text">
                            Las publicaciones (libros, folletos, periódicos, fanzines), fueron, son y serán parte
                            fundamental de la propagación de ideas dentro y fuera de los movimientos anarquistas.
                            Nos proponemos llevar adelante un taller teórico-práctico que recoja la rica historia de la
                            tarea de publicar, liberaremos técnicas, recursos y conocimientos con el fin de difundir el
                            gusto por la elaboración de publicaciones. El taller abordará, desde el acceso libre a los
                            contenidos, la edición de textos, el diseño de las publicaciones, las diferentes formas de
                            impresión cerrando con el taller de encuadernación.
                            Nos dividiremos en dos módulos de 90 minutos para poder desarrollar una síntesis de las
                            diferentes fases y técnicas. Dichos módulos se agrupan en: edición y diseño, e impresión y
                            encuadernación.
                        </div>
                    </article>
                    <article class="message has-text">
                        <div class="message-body">
                            19:00hs a 21:00hs | Charla: Territorio vivo, lucha y heterogeneidad: Propuesta de
                            reflexión colectiva a partir del conflicto en Remanso de Neptunia.
                        </div>
                        <div class="message-body text">
                            Tomando como punto de partida la defensa del monte Bilú Atit en el Remanso de Neptunia y la
                            lucha vecinal en contra de la especulación inmobiliaria que lo pretende destruir, nos
                            proponemos generar un conjunto de dinámicas que propicien una reflexión colectiva. Una
                            instancia para analizar los modos de participación anarquista en las luchas territoriales,
                            el modo en que dicha participación interacciona con la heterogeneidad de la comunidad, los
                            prejuicios y lugares comunes desde los que se habla sobre "la gente", las estrategias
                            colectivas, las contradicciones los elementos que nos unen y los procesos de cambio que todo
                            conflicto territorial va atravesando.
                        </div>
                    </article>
                    <article class="message is-dark">
                        <div class="message-body">
                            23hs | Cierre
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    <time datetime="2022-04-24">Domingo | 24 Abril</time>
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <article class="message is-dark">
                        <div class="message-body">
                            15:00hs | Apertura de la feria
                        </div>
                    </article>
                    <article btn_id="3" class="message is-danger">
                        <div class="message-body">
                            15:00hs a 17:00hs | Charla: ¿Revolución social o insurrección permanente? ¿Puede el
                            anarquismo del siglo XXI transitar el camino hacia la Anarquía?
                        </div>
                        <div class="message-body text">
                            A principios del siglo pasado las ideas anarquistas predominantes tenían un carácter
                            indiscutiblemente político y social, partían de un corte opresivo transversal - la clase - y
                            buscaban la superación colectiva del modelo social imperante para la construcción de una
                            nueva
                            sociedad sin oprimidos ni opresores. Después del fracaso de los modelos del socialismo real,
                            pasada la segunda mitad del siglo pasado y consolidándose de manera definitiva a principios
                            de
                            esta, toma cada vez mas fuerza un anarquismo vivencial, que se construye e interpreta a si
                            mismo
                            en tiempo presente: ya no es la apuesta por la construcción de un futuro colectivo, sino la
                            urgencia por un presente individual de lucha. Independientemente de las propuestas de
                            antagonismo, el principio y final del análisis surge de la percepción de múltiples
                            opresiones
                            que pesan en el individuo como un estigma, y será entonces una tarea personal, cotidiana y
                            continua la lucha por la emancipación. La anarquía aqui y ahora, a través de mis prácticas
                            anárquicas.
                            En esta charla nos proponemos desmenuzar un poco estas diferencias, encontrar el hilo
                            conductor,
                            y descubrir si existe todavía un horizonte de superación colectiva de la opresión, si la
                            revolución social todavía es posible, deseable o necesaria.
                        </div>
                    </article>
                    <article class="message has-text">
                        <div class="message-body">
                            17:30hs a 18:15hs | Presentación de Libro "Estafar un banco.. que placer! y otras historias"
                            de Augusto “Chacho” Andrés
                        </div>
                        <div class="message-body text">
                            El libro pretende traer a nuestro presente historias y memorias de quienes, a lo largo del
                            siglo XX, participaron en las luchas por la emancipación social y la libertad. Chacho
                            entrelaza pequeños relatos de perdedores inclaudicables que, antes que nosotrxs se
                            enfrentaron al poder y a las injusticias en distintas comarcas.
                            Intentando circunscribirse en la rica tradición y el quehacer de editoriales anarquistas es
                            que fue coeditado en ambas márgenes del Río de la Plata. Materializando prácticas y modos de
                            hacer asociativos, internacionalistas, apoyándose en redes de afinidad, buscando círculos
                            alternativos y en permanente diálogo horizontal y autogestivo.
                        </div>
                    </article>
                    <article btn_id="4" class="message is-danger">
                        <div class="message-body">
                            18:30hs a 20:30hs | Charla: Proyectos Territoriales
                        </div>
                    </article>
                    <article class="message is-dark">
                        <div class="message-body">
                            23hs | Cierre
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <button class="button is-large is-danger is-light">
            <a href='{{ config.base_url }}'>
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
                <span>Inicio</span>
            </a>
        </button>
        <button class="button is-large is-danger is-light">
            <a href='{{ config.base_url }}/ubicacion'>
          <span class="icon">
              <i class="fas fa-map-marked-alt"></i>
          </span>
                <span>Ubicación</span>
            </a>
        </button>
    </section>
</div>
{% endblock %}

{% block custom_js %}
<script>
        $(document).ready(function () {
            $(".message.has-text").addClass("is-danger")
            $(".message-body.text").hide()
            $(".has-text").click(function () {
                var t = $(this)
                if (!t.hasClass("active")) {
                     t.find(".message-body.text").slideDown()
                     t.addClass("active")
                } else {
                    t.find(".message-body.text").slideUp()
                    t.removeClass("active")
                }
            });
        });




</script>
{% endblock %}