<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    {% if config.extra.favicon.favicon_16x16 %}
    <link href='{{ config.extra.favicon.favicon_16x16 }}' rel="icon" sizes="16x16" type="image/png" />
    {% endif %}
    {% if config.extra.favicon.favicon_32x32 %}
    <link href='{{ config.extra.favicon.favicon_32x32 }}' rel="icon" sizes="32x32" type="image/png" />
    {% endif %}
    {% if config.extra.favicon.apple_touch_icon %}
    <link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet" />
    <title>
        {% block title %}
        {{ config.title }}
        {% endblock title %}
    </title>
</head>

<body>
    <nav aria-label="section navigation" class="navbar is-dark" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item is-size-5 has-text-weight-bold" href="{{config.base_url}}">{{ config.title }}</a>
                <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navMenu"
                    role="button">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end has-text-centered">
                    {% for item in config.extra.navbar_items %}
                    {% if lang == item.code %}
                    {% for nav in item.nav_items %}
                    <a class="navbar-item has-text-weight-semibold"
                        href="{{ nav.url | replace(from='$BASE_URL', to=config.base_url) }}">
                        {{ nav.name }}
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>

</body>

</html>