{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-two-thirds animate__animated animate__slideInUp">
        <section class="section">
            <div class="box">
                <div id="main_title" class="content">
                    <p class="title is-1 has-text-centered">{{
                        section.title }}</p>
                    <div class="block">
                        <h3 class="subtitle is-4">{{
                            section.content | safe }}</h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="columns">
                    <div class="column">
                        <div
                            class="box has-background-danger-dark animate__animated animate__pulse animate__infinite animate__slow">
                            <figure class="image">
                                <img src="images/marcha.jfif">
                            </figure>
                        </div>
                    </div>
                    <div class="column mgt-large ">
                        <div class="box">
                            <figure class="image">
                                <img src="images/victorino_marcha.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <figure class="image is-5by4">
                        <img src="images/Cem_murosdelpueblo_210830_448g.JPG">
                    </figure>
                </div>
            </div>
        </section>
    </div>
    <div class="column animate__animated animate__slideInRight">
        <div class="section">
            <figure class="image is-flex is-justify-content-center">
                <img class="is-rounded" src="images/main.jpg" style="max-width: 192px" />
            </figure>
        </div>
        <form class="box ">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input is-danger" type="email" placeholder="ej. juan@hotmail.com">
                </div>
            </div>
            <button class="button is-danger">Suscribirse</button>
        </form>
        <div class="box">
            <div class="content">
                <a href="{{ get_url(path='@/posts/_index.md') }}">
                    <h1 class="title is-2 has-text-centered">
                        <span class="icon">
                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        </span>
                        Ir a Publicaciones
                    </h1>
                    {% set section = get_section(path="posts/_index.md") %}
                    {% for page in section.pages %}
                    <article class="message is-dark">
                        <div class="message-header">
                            <p>{{page.title}}</p>
                        </div>
                        <div class="message-body">
                            {{ macros::page_publish_metadata(page=page) }}
                        </div>
                    </article>
                    {% endfor %}
                </a>
            </div>
        </div>
        <div class="box has-background-black">
            <figure class="image is-1by2">
                <img src="{{get_url(path='images/radio.jpg')}}">
            </figure>
        </div>
    </div>
</div>
{% endblock %}