{% extends "base.html" %}

{% block index %}
<div class="columns">
    <div class="column is-two-thirds">
        <section class="section">
            <figure class="image is-flex is-justify-content-center">
                <img class="is-rounded" src="images/main.jpg" style="max-width: 192px" />
            </figure>
            <div class="content is-medium is-justify-content-right">
                <p class="title is-1">{{
                    section.title }}</p>
                <p class="subtitle is-3">{{
                    section.description }}</p>
                <div class="box">
                    <div class="columns pt-4">
                        <div class="column">
                            <figure class="image">
                                <img src="images/787c9181-d788-4f07-9f24-42881e3e8a57.jfif">
                            </figure>
                        </div>
                        <div class="column">
                            <figure class="image">
                                <img src="images/main.jpg">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="column">
        <form class="box mt-9">
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input is-danger" type="email" placeholder="ej. juan@hotmail.com">
                </div>
            </div>
            <button class="button is-danger">Suscribirse</button>
        </form>
        <div class="box">
            <div class="tile is-parent">
                <article class="tile is-child notification is-dark">
                    <figure class="image is-1by2">
                        <img src="images/victorino.JPG">
                    </figure>
                </article>
            </div>
        </div>
        </h2>
    </div>
</div>
{% endblock %}